.icon {
    height: 40%;
}

.button-level-element {
    flex-grow: 0;
    background-color: rgb(255, 235, 59);
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    width: 500px;
    height: 500px;
    margin: 5px;
    overflow: hidden;
    cursor: initial;
    padding: 0;
    font-size: 10px;
}

.button-level-element:hover {
    background-color: rgb(230, 210, 50);
}

.button-level-element:active {
    background-color: rgb(189, 189, 189);
}

.label-name {
    color: rgb(0, 0, 0);
    font-size: 24px;
    -unity-font-style: bold;
    align-self: center;
    -unity-text-align: middle-center;
    white-space: normal;
}

.label-desc {
    color: rgb(0, 0, 0);
    font-size: 18px;
    align-self: center;
    -unity-text-align: middle-center;
    white-space: normal;
}
